.right{float:right;}
.in-block{display: inline-block;}
.mtop5{margin-top:5px;}

.mtop10{margin-top:10px;}
.mtop12{margin-top:12px;}
.mtop15{margin-top:15px;}
.mtop20{margin-top: 20px;}
.mtop25{margin-top: 25px;}
.mtop30{margin-top:30px;}
.mtop100{margin-top:100px;}

.mbot5{margin-bottom:5px;}
.mbot10{margin-bottom:10px;}
.mbot15{margin-bottom:15px;}
.mbot20{margin-bottom:20px;}
.mbot25{margin-bottom:25px;}
.mbot30{margin-bottom:30px;}
.mbot35{margin-bottom:35px;}
.mbot40{margin-bottom:40px;}

.mleft5{margin-left:5px;}
.mleft10{margin-left:10px;}
.mleft15{margin-left:15px;}
.mleft20{margin-left:20px;}
.mleft25{margin-left:25px;}
.mleft30{margin-left:30px;}
.mleft35{margin-left:35px;}
.mleft45{margin-left:45px;}
.mleft40{margin-left:40px;}

.mright5{margin-right:5px;}
.mr10{margin-right:10px;}
.mright15{margin-right:15px;}
.mright25{margin-right:25px;}
.mright30{margin-right:30px;}
.mright35{margin-right:35px;}
.mright40{margin-right:40px;}




.ptop5{padding-top:5px;}
.ptop10{padding-top:10px;}
.ptop15{padding-top:15px;}
.ptop20{padding-top:20px;}
.ptop25{padding-top:25px;}
.ptop30{padding-top:30px;}
.ptop35{padding-top:35px;}

.pbot5{padding-bottom:5px;}
.pbot10{padding-bottom:10px;}
.pbot15{padding-bottom:15px;}
.pbot20{padding-bottom:20px;}
.pbot25{padding-bottom:25px;}
.pbot30{padding-bottom:30px;}
.pbot35{padding-bottom:35px;}
.pbot40{padding-bottom:40px;}

.pleft5{padding-left:5px;}
.pleft10{padding-left:10px;}
.pleft15{padding-left:15px;}
.pleft20{padding-left:20px;}
.pleft25{padding-left:25px;}
.pleft30{padding-left:30px;}
.pleft35{padding-left:35px;}

.pright5{padding-right:5px;}
.pright10{padding-right:10px;}
.pright15{padding-right:15px;}
.pright20{padding-right:20px;}
.pright25{padding-right:25px;}
.pright30{padding-right:30px;}
.pright35{padding-right:35px;}





.left25{margin-left:25px!important;}
.left40{margin-left:-40px;}
.left-40{margin-left:40px;}
.left50{margin-left:50px;}
.left70{margin-left:70px;}
.left20{margin-left:-20px;}

.mtop40{margin-top: 40px;}
.pr10{padding-right:10px;}










.top-40{margin-top:-40px;}
.top-18{margin-top:-18px;}
.top35{margin-top: 35px;}
.left16{margin-left:16px;}
.left100{margin-left: 100px;}
.left115{margin-left: 115px;}
.left157{margin-left: 187px;}
.left221{margin-left: 221px;}
.top50{padding-top:50px;}
.right13{padding-right:13px;padding-bottom:10px;}
.pright20{padding-right:20px;}
