.h75{width:100%;height:72px;font-size: 12px;}
.h55{width:100%;height:55px;background: #e0e0e0;}
.h20{width:100%;height:20px;background: #656565;}
.foot-link a{color:#fff;}
/* .foot-link a:link,.foot-link a:visited{color:#509bfd;} */
.foot-link a:hover{/* color:#509bfd; */color:#509bfd;text-decoration: none;}
.foot-link span{padding: 0 20px;color: #fff;}