.logo{/* width:58px;height:70px;border:none;background-color: transparent; *//* left:250px; */top:6px;position:relative;}
.i1{width: 32px;height: 32px;position: relative;top: -5px;right: 6px;}
.h845{width:1500px;height:845px;background: url(../../i/i5.jpg);}
.i6{margin-left:20px;}
.i6,.i7{margin-left:20px;}
.i8{margin-left:70px;margin-top:30px;}
.icon1 {background-image: url(../../c/icon1.png);display:inline-block;}
.img2 {background-position: -304px 0; width: 80px; height: 40px;margin-left: -20px;margin-top: 5px;}
.img3{ background-position: -434px 0; width: 60px; height: 60px; margin-left: -7px;}
.img4{ background-position: -754px 0; width: 70px; height: 60px;margin-left: -17px;}
.img5{background-position: -850px 0; width: 59px; height: 58px;margin-left: 13px}
.img6{background-position: -544px 0; width: 60px; height: 50px;margin-left: 8px;}
.img7{background-position: -657px 0;width: 50px;height: 58px;margin-left: 16px}
.img19{width: 254px; height: 108px;;position: relative;}
.i25{position: absolute;top: 80px;left: 40px;float: left;text-align: left;}
.i25-1{/* position:relative;top:-227px;left:26px;float: left; */position: absolute;top: 67px;left: 26px;float: left;text-align: center;}
.i24{width:733px;position: relative;top: 1px;}
.i26{width: 28px;height: 26px;margin-left: -20px;margin-top: 6px;}
.list-pic{margin-left:    -6px;margin-right:10px; }
.dic-pic{margin-left:4px;margin-bottom: 10px;}
.i25-6{float: right;position: relative;top: 9px;right: 15px;}
.repeat-pic10{padding-top: 23px;}