.num{padding-right:5px;}
.gram-p{word-spacing: 0px;font-size: 15px;padding-left:20px;padding-right:27px;}
.translation-p{word-spacing: 0px;font-size: 15px;padding-left:20px;padding-right:27px;}
.gram-p1{margin-left:19px;} 
.text-drag{width: 260px;height: 30px;border-bottom: 1px solid #000;line-height: 40px;color: #509bfd;font-size: 14px;padding-left: 20px;margin-left: 129px;margin-top: -37px;}
.pos{margin-left:125px;}
.pos1{margin-left: 160px;margin-top: -33px;/* text-align: center; */}
.gram-p2{margin-top:30px;margin-left: -14px;width: 764px;height: 23px} 
.gram-p2 span{padding-left:40px;padding-right:-5px;}
.gram-input{width:262px;height:20px;margin-top:-40px;margin-left:185px;border: none;border-bottom: 1px solid #000;color:#509bfd;background-color: transparent;font-size:14px;}

.grammer-textarea1{width: 680px!important;
margin-left: 26px!important;
margin-top: 12px!important;}
.grammer-button1{margin-top: 30px!important;}
.grammer-button2{margin-left:190px!important;}
.grammer-button3{margin-left:50px!important;background:#3eb69c!important;}


.no-border{border: 0!important;}
.vol-translation{min-width: 50px;padding-left: 9px;top: -6px;position: relative;}
/* .vol-space1{ width: 26px;top: 2px;position: relative;}

.vol-translation1{min-width: 50px;padding-left: 9px;top: -6px;position: relative;}


.vol-space2{width: 50px;}
.vol-space3{width: 10px;top: 13px;position:relative;}
.vol-space4{padding-left: 9px!important;padding-top: 34px;position: relative;top: 2px;}

.vol-space5{position:relative;top:25px;}


.vol-space6{position:relative!important;left:94px!important;}
.vol-space7{ width: 26px;top: 2px;position: relative;}
.vol-space8{top:1px;position:relative;left:  72px;} */