/*-------flexble.js缩放布局*/
/*顶部下载提示*/
.download_tips{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 109;
	width: 100%;
	text-align: center;
	background: #333333;
	line-height:.995rem;
	overflow: hidden;
	padding: 0px 0.533333rem;
	box-sizing: border-box;
}
.download_tips span{
	float: left;
	color: #fff;
	font-size: .3425rem;
}
.download_btn{
	float: right;
	display: inline-block;
	background: #00b551;
	color: #fff;
	text-align: center;
	width: 1.333333rem;
	line-height: 0.533333rem;
	border-radius: 0.08rem;
	margin-top:.2525rem;
}

/*单词计数*/
section{
	width:100%;
	height: 1rem;
	padding-left: 0.4rem;
	line-height: 1rem;
	font-size: 0.4rem;
	background: #e4e4e4;
	color: #232323;
	box-sizing: border-box;
	margin-top: .995rem;
}
#preview-list li{
	position: relative;
	height: 1.6rem;
	border-bottom: 1px solid #d6d6d6;
	line-height: 0.6rem;
	padding-left: 0.4rem;
	box-sizing: border-box;
}
#preview-list li #preview-word{
	padding-top: 0.2rem;
	font-size: 0.42rem;
	color: #232323;
}
#preview-list li #preview-paraphrase{
	width: 80%;
	font-size: 0.35rem;
	color: #232323;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#preview-list li .horn-icon{
	position: absolute;
	width: 0.533333rem;
	height: 0.48rem;
	right: 0.4rem;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../../i/preview/horn_icon.png) no-repeat;
	background-size: cover;
}
#preview-list li .playing{
	position: absolute;
	width: 0.533333rem;
	height: 0.48rem;
	right: 0.4rem;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../../i/preview/horng_icon.png) no-repeat;
	background-size: cover;
}
