.layout {
    width: 100%;
    background: #f5f5f5;
}

.main {
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}


.location{
    height: 55px;
    line-height: 55px;
    background: #f5f5f5;
}
.location>a{
    font-size: 14px;
}
.down_href{
    color: #00b551;
}
.down_href:hover{
    color: #00b551;
}

.top_title{
    overflow: hidden;
    padding: 32px 28px;
    background: #fff;
}
.top_title_img{
    width: 262px;
    height: 170px;
    float: left;
}

.top_title_desc{
    overflow: hidden;
}
.top_title_desc{
    overflow: hidden;
}
.desc_l{
    float: left;
    padding-left: 48px;
}
.desc_l .title_name{
    font-size: 30px;
    font-weight: bold;
}

.desc_l .lesson_price{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
}
.brmb_icon{
    display: inline-block;
    width: 18px;
    height: 20px;
    background: url('../i/video_lesson/brmb_icon.png') no-repeat;
    vertical-align: -1px;
}
.desc_l .btns{
    padding-top: 12px;
}
.desc_l .btns .buy_btn{
    display: inline-block;
    width: 112px;
    border-radius: 20px;
    border: 1px solid #ff9c00;
    color: #ff9c00;
    background: #fff5e5;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}
.desc_l .btns .free_btn{
    display: inline-block;
    width: 112px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid #00b551;
    color:#00b551;
    background: #e5f7ed;
    font-size: 15px;
    text-align: center;
    margin-left: 25px;
}
.desc_r{
    float: right;
}
.desc_r>span{
    font-size: 14px;
    color: #7a7a7a;
    font-family:'黑体';
}
.desc_r a{
    cursor:default;
    font-size: 14px;
    color: #7a7a7a;
    font-family:'黑体';
}
.join_icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../i/video_lesson/join_icon.png) no-repeat;
    vertical-align: -6px;
}
.video_icon{
    display: inline-block;
    width: 23px;
    height: 21px;
    background: url(../i/video_icon.png) no-repeat center;
    vertical-align: -6px;
}
.share_icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../i/video_lesson/share_icon.png) no-repeat;
    vertical-align: -5px;
}
.share_btn{
    font-size: 14px;
    color: #7a7a7a;
    font-family:'黑体';
}

.cutline{
    padding: 0 15px;
}
/*讨论区*/
.wrap{margin-top:24px;}
/*没有讨论开始*/
.no-discussion{display:block;min-height:360px;width:100%;text-align:center;background:#fff;}
.no-discussion img{display:inline-block;margin-top:140px;height:40px;width:44px;}
.no-dis-tip{line-height:24px;margin-top:25px;width:100%;text-align:center;font-size:14px;color:#767676;}
/*没有讨论结束*/
.content{padding-bottom:30px;width:790px}
.post-list{padding-bottom:20px;width:790px;background:#fff;}
.post-list-li{padding:0 20px;width:750px;}
.post-list-li:hover{background:#f7f7f7;}
.post-list-li .post-list-li-a{display: block;/* height: 100%;width: 100%; */outline: none;}
.post-list-li .post-list-li-a:hover{color:#f18d00}
.post-t{position:relative;height:60px;}
.split{width:100%;height:0;border-top:0;border-bottom:1px dashed #d4d4d4;}
.post-num{display:block;margin-top:20px;height:25px;width:40px;line-height:18px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;background:url("../i/discussion/icon-replay-num.png") no-repeat;}
.post-top{display:block;margin-left:20px;margin-top:22px;height:16px;line-height:16px;width:30px;text-align:center;background:#f18d00;color:#fff;font-size:12px;border-radius:5px;}
.post-title{display:block;margin-left:20px;height:60px;line-height:60px;font-size:14px;max-width:420px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.post-time{display:block;height:60px;line-height:60px;width:34px;text-align:center;font-size: 12px;color:#767676;}
.post-name{display:block;position:absolute;right:54px;padding-left:20px;height:60px;line-height:60px;font-size: 12px;color:#767676;width:60px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;background:url("../i/discussion/icon-replay-ava.png") 0 24px no-repeat;}
.replay-con{position:relative;top:-20px;margin-left:60px;height:30px;}
.replay-con .replay-title{display:block;height:30px;line-height:30px;font-size:12px;color:#767676;width:450px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.replay-time{display:block;height:30px;line-height:30px;width:34px;text-align:center;font-size: 12px;color:#767676;}
.replay-name{display:block;position:absolute;right:54px;padding-left:20px;height:30px;line-height:30px;font-size: 12px;color:#767676;width:60px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;background:url("../i/discussion/icon-replay-news.png") 0 10px no-repeat;}
.post-pic{position:relative;top:-10px;margin-left:60px;width:100%;overflow:hidden;}
.post-pic-li{float:left;margin-right:10px;height:90px;max-width:200px;}
.post-pic-li-pic{display:block;height:90px;max-width:200px;cursor: url(http://tb2.bdstatic.com/tb/img/cur_zin_ae7c4cf.cur),pointer;}
.pic-count{display:block;position:absolute;top:0;left:0;height:20px;width:50px;line-height:20px;text-align:center;color:#d6d6d6;background:#444;}
.side{margin-left:20px;padding:30px 20px;width:310px;height:290px;background:#fff;}
.side h2{cursor:pointer;height:50px;line-height:50px;font-size:22px;background:#f18d00;color:#fff;font-weight:normal;border-radius:5px;}
.side h2 .icon-pen{display:inline-block;margin-left:90px;margin-right:15px;vertical-align:-4px;height:24px;width:24px;background:url("../i/discussion/icon-pen.png") no-repeat;}
.side .wel{margin-top:25px;line-height:24px;font-size:14px;color:#767676;}
/*讨论区输入框开始*/
.editor{position:relative;margin-top:20px;padding:25px 20px 0;width:750px;background:#fff;}
.ed-input-con{height:50px;width:740px;}
.ed-title{padding:0 20px;height:48px;line-height:48px;background:#f9f9f9;outline:none;border:1px solid #d5d5d5;font-size:14px;color:#767676;width:698px;}
.ed-title-tip{padding-left:20px;line-height:20px;height:20px;font-size:10px;color:#ff3c1f;}
.ed-content-con{min-height:210px;width:740px;}
.ed-content{padding:20px;height:168px;width:698px;border:1px solid #d5d5d5;font-size:14px;line-height:24px;background:#f9f9f9;outline: none;}
.ed-content div{font-size: 14px;}
.ed-content img{max-width: 80%}
.ed-se{height:60px;width: 740px;}
.ed-se-pic{display:inline-block;margin-top:21px;height:18px;width:23px;background:url("../i/discussion/icon-pic.png") no-repeat;}
.ed-se-pic:hover{background:url("../i/discussion/icon-pic-hover.png") no-repeat;}
.ed-post-btn{display:block;margin-top:16px;height:28px;line-height:28px;width:84px;text-align:center;font-size:14px;color:#00b551;border:1px solid #00b551;border-radius:20px;background:#e5f7ed;}
.ed-post-btn:hover{color:#00b551;}
.ed-btn-gray{color:#d6d6d6;border-color:#d6d6d6;background:#f1f1f1;}
.ed-btn-gray:hover{cursor:default;color:#d6d6d6;}
.ed-se-tip{margin-right:20px;line-height:60px;font-size:14px;color:#ff3c1f;}
.post-succeed{display:block;position: absolute;top: 162px;left: 315px;padding-left: 40px;height: 40px;line-height: 40px;text-align: center;width: 120px;font-size: 22px; color: #00b551;    background: url("../i/share/ic-publish-ok.png") no-repeat;}
.post-failed{display:none;position: absolute;top: 162px;left: 315px;padding-left: 40px;height: 40px;line-height: 40px;text-align: center;width: 120px;font-size: 22px; color: #ff3c1f;background: url("../i/order/pay-fail.png") no-repeat;}
/*讨论区输入框结束*/

/*遮罩*/
.payResult_modal{display:none;position: fixed;width: 100%;height: 100%;left: 0; top: 0; background: rgba(0,0,0,.4);}
.payResult_dialog{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 420px; height: 275px;background: #fff;}
.payResult_dialog h2{height: 54px;    text-align: center;line-height: 54px;background: #39c075;color: #fff; font-size: 22px;font-weight: normal;padding: 0 25px; position: relative;}
.close_btn{ position: absolute;
    width: 14px;
    height: 15px;
    background: url(../i/live/close_icon2.png) no-repeat;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
}
.payResult_tips{
    padding:60px 40px 30px;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #000;
}
.pay_confirm{
    display: block;
    margin: 20px auto 0;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #00b551;
    border-radius: 20px;
    background: #f2fbf6;
    font-size: 16px;
    color: #00b551;
}
.pay_confirm:hover{ color: #00b551;}

/*图片放大*/
.media-disp{
    display:none;
    position:relative;
    padding:0 16px 16px 16px;
    width:594px;
    background:#f1f1f1;
    cursor:default;
}
.media_pic_control{
    height:44px;
}
.j-retract{
    display:inline-block;
    height:44px;
    line-height:44px;
    width:54px;
    font-size:14px;
    color:#232323;
    cursor:pointer;
}
.icon-retract{
    display:inline-block;
    margin-right: 5px;
    vertical-align: -1px;
    height:13px;
    width:14px;
    background:url("../i/discussion/icon-retract.png")0 0 no-repeat;
}
.j-page{
    display:inline-block;
    height:44px;
    line-height:44px;
    font-size:14px;
    color:#232323;
}
.j-page-cur,.j-page-total{
    font-style: normal;
    margin:0 -3px;
    display:inline-block;
    height:44px;
    line-height:44px;
    font-size:14px;
    color:#232323;
}
.media_bigpic{
    display:none;
    position:relative;
    overflow:hidden;
    cursor:default;
}

.media_bigpic_wrap{
    position:relative;
    overflow:hidden;
    cursor:default;
}
.j-retract-img{
    margin:0 auto;
    min-height:90px;
    max-width:594px;
    cursor:url(http://tb2.bdstatic.com/tb/img/cur_zout_e47c4ef.cur),pointer;
   /* cursor: url("../i/discussion/cur_zout.cur");*/
}
.media_bigpic_display_pre{
    position:absolute;
    left:0;
    top:0;
    width:25%;
    height:9999px;
    cursor:url(http://tb2.bdstatic.com/tb/img/bigpicprev_1245caf.cur),pointer;
    background-image:url(about:blank);
}
.media_bigpic_display_next{
    position:absolute;
    right:0;
    top:0;
    width:25%;
    height:9999px;
    cursor:url(http://tb2.bdstatic.com/tb/img/bigpicnext_437c161.cur),pointer;
    background-image:url(about:blank);
}


.none{display:none;}
.block{display:block;}

/*上传图片*/
.uploadWrapper{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    padding:20px;
    width:670px;
    height:390px;
    background:#fff;
}
.uploadTitle{
    height:20px;
}
.uploadText{
    font-size:14px;
}
.uploadClose{
    display:block;
    height:14px;
    width:14px;
    cursor:pointer;
    background:url("../i/discussion/icon-dis-close.png") no-repeat;
}
.picCount{height:30px;line-height:30px;color:#767676;}
.picCountNum{margin:0;color:#767676;}
.uploadList{width:690px;height:276px;overflow:hidden;}
.uploadList-li{
    float:left;
    margin-right:20px;
    margin-top:20px;
    height:118px;
    width:118px;
}
.upload{
    height:116px;
    width:116px;
    background:url("../i/discussion/icon-dis-plus.png") center center no-repeat;
    border:1px dashed #eee;
    cursor:pointer;
}
.uploading{
    height:116px;
    line-height:116px;
    width:116px;
    text-align:center;
    font-size:14px;
    color:#00b551;
    background:url("../i/discussion/icon-loading.png") center center no-repeat;
    border:1px solid #eee;
}
.uploaded{
    height:116px;
    width:116px;
    border:1px solid #eee;
    background:#f5f5f5;

    /*background:rgba(0,0,0,.4);*/
}
.uploaded .pic-item{
    position:relative;
    display:block;
    height:116px;
    width:116px;
}
.uploaded .pic-item .upload-mask{
    position:absolute;
    height:116px;
    width:116px;
    background:rgba(0,0,0,.4);
}
.uploaded .pic-item:hover .upload-mask{
    display:block;
    cursor:default;
}
.deletePic{
    position:absolute;
    display:block;
    height:14px;
    width:14px;
    top:5px;
    right:5px;
    cursor:pointer;
    background:url("../i/discussion/icon-dis-dePic.png") no-repeat;
}
.uploaded .pic-item .pic-complete{
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    max-height:116px;
    max-width:116px;
    outline:none;
}
.add{margin-top:20px;height:46px;text-align:right;}
.addBtn{
    display:inline-block;
    height:42px;
    line-height:42px;
    width:120px;
    text-align:center;
    border:2px solid #00b551;
    color:#00b55a;
    font-size:16px;
    background:#f2fbf6;
    border-radius:30px;
}

.addBtn:hover{color:#00b55a;}
.grayBtn{color: #d6d6d6;border-color: #d6d6d6;background: #f1f1f1;}
.grayBtn:hover{color:#d6d6d6;}

.uploadSel{width:670px;height:370px;}
.uploadSel img{display:block;margin:130px auto 0;width:69px;height:55px;}
.selCon{margin-top:30px;width:100%;text-align:center;}
.selBtn{
    display:inline-block;
    height:42px;
    line-height:42px;
    width:120px;
    text-align:center;
    border:2px solid #00b551;
    color:#00b55a;
    font-size:16px;
    background:#f2fbf6;
    border-radius:30px;
}
.selBtn:hover{color:#00b55a;}