body{
	background: #f7f7f7;
}
.register{
	background: #fff;
	padding-left: 15px;
}
.register li{
	line-height: 44px;
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
	align-items: center;
	border-bottom: 1px solid #d6d6d6;
}
.register li .left{
	margin-right: 10px;
}
.phoneNum{
	padding-right: 15px;
}
.register li .left i{
	display: inline-block;
	width: 12px;
	height: 17px;
	vertical-align: -4px;
}
.register li .left .phone_icon{
	background: url(../img/login/phone_icon.png) no-repeat;
	background-size: cover;
	vertical-align: -5px;
}
.register li .left .lock_icon{
	background: url(../img/login/lock_icon.png) no-repeat;
	background-size: cover;
}
.register li .right{
	-webkit-box-flex: 1;
	-moz-flex: auto;
	-webkit-flex: auto;
	flex: auto;
	flex: 1;
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	-webkit-box-pack: justify;
	-moz-justify-content: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
	align-items: center;
	position: relative;
}
.register li .right input{
	border: none;
	font-size: 15px;
	width: 99%;
	height: 26px;
	line-height: 26px;
}
.codeSpan{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background: #00b551;
	height: 26px;
	line-height: 26px;
	width: 80px;
	text-align: center;
	border-radius:3px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
}
.codeSpan:active{
	padding: 1px;
}
.countDown{
	background: #ccc;
}

/*用户协议*/
.agreement{
	padding: 15px 15px;
	background: #f7f7f7;
}
.agreement label{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #767676;
	border-radius: 5px;
	vertical-align: -6px;
}
.agreement .selected{
	background: url(../img/login/duigou_icon.png) no-repeat center;
	background-size: 14px;
}
.agreement a{
	color: #00b551;
	text-decoration: underline;
}

/*验证提示区域*/
.checkTips{
	padding-top: 10px;
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	color: #f00;
	text-align: center;
	display: none;
}

/*注册按钮*/
.register_btn{
	display: block;
	width: 90%;
	height: 32px;
	background: #00b551;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 30px auto;
	border-radius: 3px;
}
.register_btn:active{
	padding: 0 1px;
	background: green;
}
.uncheck{
	background: #ddd;
}
.uncheck:active{
	padding: 0;
	background: #ddd;
}
