@CHARSET "UTF-8";
div{text-align:center; margin:0 auto;}
.po{position:relative;}
@-webkit-keyframes tiao 
{
0%{ top:0px;}
2%{ top:5px;}
5%{ top:0px;}
7%{ top:-3px;}
10%{top:0px;}
12%{top:2px;}
15%{top:0px;}
17%{top:-1px;}
20%{top:0px;}
100%{top:0px;}
}
@-o-keyframes tiao 
{
0%{ top:0px;}
2%{ top:5px;}
5%{ top:0px;}
7%{ top:-3px;}
10%{top:0px;}
12%{top:2px;}
15%{top:0px;}
17%{top:-1px;}
20%{top:0px;}
100%{top:0px;}
}
@-moz-keyframes tiao 
{
0%{ top:0px;}
2%{ top:5px;}
5%{ top:0px;}
7%{ top:-3px;}
10%{top:0px;}
12%{top:2px;}
15%{top:0px;}
17%{top:-1px;}
20%{top:0px;}
100%{top:0px;}
}
@keyframes tiao 
{
0%{ top:0px;}
2%{ top:5px;}
5%{ top:0px;}
7%{ top:-3px;}
10%{top:0px;}
12%{top:2px;}
15%{top:0px;}
17%{top:-1px;}
20%{top:0px;}
100%{top:0px;}
}
.tbtn1:hover{
	cursor:pointer;
	animation-name:tiao;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-play-state:running;

	-webkit-animation-name:tiao; /* Safari and Chrome */
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-play-state:running;
	
	-moz-animation-name:tiao;
	-moz-animation-duration:1.5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-play-state:running;
	
	-o-animation-name:tiao;
	-o-animation-duration:1.5s;
	-o-animation-iteration-count:infinite;
	-o-animation-timing-function:linear;
	-o-animation-play-state:running;
}
.ele{ position:relative; float:left; width:16.6%; height:100%; text-align:center}
.ele>.nei{ position:relative; margin:0 auto; height:50px; line-height:50px; text-align:center; padding-top:70px; font-size:22px;}
.ele>.nei:hover{ border-bottom:1px solid #df7372; cursor:pointer;}
.banner{ position:absolute;width:100%; height:639px; text-align:center; top:0px; left:0px;}
.d2{
	position: absolute;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0)
}
.d2:hover{ opacity:.5; cursor:pointer;filter:alpha(opacity=50)}
.d1{
	position: absolute;
	opacity:1; cursor:pointer;filter:alpha(opacity=100)
}
.d1:hover{ opacity:.0; cursor:pointer;filter:alpha(opacity=0)}
.d3{
	position: absolute;
	opacity:0; cursor:pointer;filter:alpha(opacity=0)
}
.d3:hover{ opacity:1; cursor:pointer;filter:alpha(opacity=100)}
.kuang{
	position: absolute;
	width: 270px;
	height: 298px;
}
.tbtn1{ position:absolute; height:100%; width:100%; top:0px; left:0px; background-repeat:no-repeat; background-position:center top;}
.nnnb{ position:absolute;opacity: 0;
	filter: alpha(opacity=0); cursor:pointer}
	.nnnb:hover{	opacity: 1;
	filter: alpha(opacity=100); cursor:pointer}

.lybbg{ position:relative; text-align:center; height:128px; width:100%; background:url(/common/playback/img/lybbg.jpg) center; margin:0px;}
.lybmid{ position:relative; width:1200px; height:128px; margin:0 auto;}
.lybbg input{
	width: 165px;
	height: 30px;
	padding: 0px;
	padding-left: 10px;
	border: 1px solid #000;
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
}
.lybbg select{position: absolute;border: none;top: 15px;left: 595px;background: #eaeaea;}
#Submit1{
	position: absolute;
	height: 34px;
	width: 316px;
	top: 80px;
	left: 400px;
}
.jx{
	position: absolute;
	background: #fff;
	cursor: pointer;
	width: 166px;
	height: 168px;
}
.xiaxian{ height:25px; position:absolute; border-bottom:1px solid #ff9238; opacity:.0; cursor:pointer;filter:alpha(opacity=0)}
.xiaxian:hover{ opacity:1; cursor:pointer;filter:alpha(opacity=100)}

.infow,.infow1,.infow2{ width:568px; position:absolute; height:235px;}
.infoele{ width:100%; height:44px; line-height:44px; cursor:pointer;}
.infoele:before{position:absolute; height:18px; width:19px; left:16px; top:16px; background-position:center; background-repeat:no-repeat; background-image:url(/common/playback/img/t.png) ;content:"";}
.infoele:after{
	position:absolute; height:100%; width:70px; right:30px; top:0px;content:"点击播放 >"; color:#00b551; display:none; font-size:12px;
}
.infoele:hover{ background:#f5f5f5}
.infoele:hover:after{ display:block}
.nei{ height:100%; position:relative; margin-left:55px; font-size:16px; color:#232323; width:352px; overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;}
.wr>.infoele:before{ left:36px;}
.wr>.infoele{ padding-left:20px;}
.infow1>.infoele:after{ color:#52a7e4}
.infow2>.infoele:after{ color:#ff9c00}
.more{ position:absolute; width:100%; text-align:center; cursor:pointer; bottom:-10px; font-size:12px; color:#767676;}
.more:hover{ color:#00b551;}
.infow1 .more:hover{ color:#52a7e4;}
.infow2 .more:hover{ color:#ff9c00;}
#minimenu{ line-height:55px; font-size:18px; text-align:left; font-weight:bold}
.sr{ position:relative;width:788px; min-height:600px; background:#fff; border-top:1px solid #00b551; margin:0px; padding-bottom:90px;}
.zi{
	position: absolute;
	width: 220px;
	height: 28px;
	border: 1px solid #00b551;
	line-height: 28px;
	top: 12px;
	left: 470px;
	text-align:left;
}
.zi>input{ position:absolute;height:28px; width:162px; padding-left:10px; font-size:12px; line-height:28px; border:none; padding-bottom:0px;}
.sr .ele,.sr .ele1{ position:relative; width:100%; height:60px; line-height:60px; text-align:left;}
.sr .m{ border-bottom:2px solid #f5f5f5}
.sr .ele .t,.sr .ele1 .t{ float:left; width:370px; height:100%; margin-left:20px; text-align:left; font-size:14px; font-weight:bold;}
.sr .ele .time,.sr .ele1 .time{ float:left; width:127px; height:100%; text-align:center; font-size:14px; font-weight:bold;}
.sr .ele .t{ border-bottom:1px dashed #d4d4d4; font-weight:100; overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;}
.lmz{ margin-left:50px; text-align:left; overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; width:320px;}
.sr .ele .t:before{position:absolute; height:18px; width:19px; left:16px; top:22px; background-position:center; background-repeat:no-repeat; background-image:url(/common/playback/img/t.png) ;content:"";}
.sr .ele .time{ border-bottom:1px dashed #d4d4d4; font-weight:100; color:#767676}
.ele:hover{ background:#f5f5f5; cursor:pointer;}
.ele:hover .t{ color:#00b551}
.ele:hover .bf{ color:#00b551; position:relative;}
.ele:hover .bf:after{ color:#00b551;position:height:18px; width:19px; right:15px; top:0px; background-position:center; background-repeat:no-repeat; content:">";}
.truew{ margin: auto; display: inline-block; height:40px;}
.fbtn,.nbtn,.x{ position:relative;float:left; height:28px; width:46px; font-size:12px; margin-right:5px; text-align:center; line-height:28px; border:1px solid #dcdcdc; color:#000; cursor:pointer}
.nbtn{height:28px; width:30px; height:28px; margin:0px;}
.x{height:28px; width:30px; height:28px; border:none; margin:0px;}
.nbtn:hover,.fbtn:hover,.on{ color:#fff; background:#00b551; border-color:#00b551;}
.thou{ float:left;height:28px; font-size:12px; margin-left:10px; text-align:left; line-height:28px; color:#000;}
.thou input{height:20px; width:28px; padding-left:0px; font-size:12px; line-height:20px;  border:1px solid #dcdcdc; padding-bottom:0px; text-align:center}
.qd{ position:relative; font-size:12px;border:1px solid #dcdcdc; cursor:pointer; line-height:14px; margin-left:5px;}